Package: ru.aslan.alanygram
Name: AlanyGram
Version: 1.0.0
Architecture: iphoneos-arm
Description: Custom Telegram modification with Ghost mode, Anti-View-Once, and Anti-Delete features. Created by Aslan.
Maintainer: Aslan <https://vk.ru/aslanbostanov>
Author: Aslan
Section: Tweaks
